<html>
    <head>
    </head>
    <body>
        <button><a href="../../menu">back to menu </a></button> 
        <button><a href="../../search">Back to search page</a></button><br/> 
        <h1><%=movie.name %></h1>

        <img src="<%=movie.image %>" alt="">  
         
        <br/>
        <p><% movie.genres.forEach(g => { %>
        <%= g %>    
        <% }) %>
        </p>
        
        <p><%=movie.language%></p>
        <p>Premiered in <%=movie.premiered%></p>
        <p><%=movie.summary%></p>
    </body>
</html>